<section>
    <a type="button" class="btn-home btn btn-primary" asp-controller="Contatos" asp-action="Index">Telefones Úteis</a>
    <a type="button" class="btn-home btn btn-primary" asp-controller="Debitos" asp-action="Index">Número dos Débitos</a>
    <a type="button" class="btn-home btn btn-primary" asp-controller="Condominios" asp-action="Index">Condominios</a>
    <a type="button" class="btn-home btn btn-primary" asp-controller="" asp-action="">Senhas</a>
</section>