<section class="row">
    <div class="card" style="width: 31%;">
        <div class="card-body">
            <h5 class="card-title">Nota Fiscal Paulista</h5>
            <h6 class="card-subtitle mb-2 text-muted">Verificar Pontuação</h6>
            <p class="card-text">Altamir: 044.391.478-87 <br/>Senha: 131313</p>
            <p class="card-text">Lenira: 043.591.018-30<br/>Senha: len1313</p>
            <a href="https://www.nfp.fazenda.sp.gov.br/login.aspx?ReturnUrl=/" target="_blank" class="card-link">Clique Aqui para acessar a pontuação</a>
        </div>
    </div>

    <div class="card" style="width: 31%;">
        <div class="card-body">
            <h5 class="card-title">Emails AFA</h5>
            <h6 class="card-subtitle mb-2 text-muted">Emails e Senhas</h6>
            <p class="card-text">antaofernandes@antaofernandes.com.br<br/>Senha: ant02569</p>
            <p class="card-text">altamir@antaofernandes.com.br<br/>Senha: alt060320</p>
            <p class="card-text">lenira@antaofernandes.com.br<br/>Senha: len131313</p>
            <a href="https://mail.terra.com.br/signin" target="_blank" class="card-link">Clique Aqui para acessar os Emails</a>
        </div>
    </div>

    <div class="card" style="width: 31%;">
        <div class="card-body">
            <h5 class="card-title">iUPP</h5>
            <h6 class="card-subtitle mb-2 text-muted">Senha Acesso iUPP</h6>
            <p class="card-text">CPF: 04359101830<br/>Senha: Lenira13</p>
            <a href="https://www.iupp.com.br/auth/login" target="_blank" class="card-link">Clique Aqui para acessar o iUPP</a>
        </div>
    </div>

    <div class="card" style="width: 31%;">
        <div class="card-body">
            <h5 class="card-title">Pontos CNH</h5>
            <h6 class="card-subtitle mb-2 text-muted">Altamir, Lenira, Leandro e André</h6>
            <p class="card-text">Altamir<br />CPF: 044.391.478-87<br/>CNH: 02184296940<br/>Senha: aaf113</p>
            <p class="card-text">Lenira<br />CPF: 043.591.018-30<br/>CNH: 02750392286<br/>Senha: Len1313</p>
            <p class="card-text">Leandro<br />CPF: 249.560.928-73<br/>CNH: 02590881976<br/>Senha: 60039002c</p>
            <p class="card-text">André<br />CPF: 218.620.208-50<br/>CNH: 01512645171<br/>Senha: 771338271</p>
            <a href="https://www.detran.sp.gov.br/wps/portal/portaldetran/cidadao/home" target="_blank" class="card-link">Clique Aqui para acessar a pontuação</a>
        </div>
    </div>

    <div class="card" style="width: 31%;">
        <div class="card-body">
            <h5 class="card-title">CRA</h5>
            <h6 class="card-subtitle mb-2 text-muted">Antão e Leandro</h6>
            <p class="card-text">Antão<br />Registro: 003393<br/>Login: 55795579000118<br />Senha: ant02569</p>
            <p class="card-text">Leandro<br />Registro: 003393<br/>Login: 55795579000118<br />Senha: ant02569</p>
            <a href="https://crasp.gov.br/crasp/app/login.aspx" target="_blank" class="card-link">Clique Aqui para acessar o CRA</a>
        </div>
    </div>
</section>